.headerPrincipal .container {
    display: flex;
    /* Para alineacion vertical */
    align-items: center;
    /* Espacio entre elementos (va cada uno para un lado)*/
    justify-content: space-between;
}

.headerPrincipal-nav {
    /* por defecto alinea los elementos horizontalmente */
    display: flex;
}

.rodapePrincipal-patrocinadores .container  {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* Notar que completa el 100% con el form de abajo */
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    
    /* Por defecto si no aclaro nada el flex es x fila */
    flex-direction: column;
    
    /* para que no desborde */
    flex-wrap: wrap;

    /* Es necesario aplicar una altura especifica para que quede una columna de cursos a lado del otro */
    height: 260px;
}

.contenidoPrincipal-cursos {
    display: flex;

    /* Esto hace que no se desborde o descontrole del tamaño */
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.videoSobre-video {
    /* El video se agranda */
    flex-grow: 2;
    /* El video se reduce a medida que se achica la pantalla */
    flex-shrink: 2;
}

.videoSobre-sobre-list {
    flex-grow: 2;
}

/* RESPONSIVE */
@media (max-width:768px) {

    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    
    .headerPrincipal-nav {
        flex-direction: column;
    }
    
    .contenidoPrincipal-cursos {
        flex-direction: column;
    }
    
    .contenidoPrincipal-cursos-link {
        width: 100%;
    }
    
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }
    
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    
    .rodapePrincipal-patrocinadores-list {
        align-items: center;
        width: 100%;
        margin: 0;
    }
    
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .headerPrincipal-nav-link-app {
        order: -1;
    }

    .videoSobre .container {
        flex-direction: column;
    }

}